# Кэш и временные файлы
.cache/
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp

# Настройки IDE
.idea/
.vscode/

# Сборочные папки и артефакты
dist/
build/
*.egg-info/

# Лог-файлы
*.log

# Файлы операционной системы
.DS_Store
Thumbs.db
